* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-color: rgb(0, 0, 0);
    /* background-image: url('assets/img/skyline.png'); */
    background-image: url('assets/img/retro-2426631_1280.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(230, 230, 230);
    height: 100vh;
}

.container {
    width: 854px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.close_startscreen {
    display: none !important;
}

.show_canvas {
    display: block !important;
}

.headline {
    width: 640px;
}

canvas {
    display: none;
    /* display: block; */
    width: 768px;
    height: 384px;
    image-rendering: pixelated;
    /* aspect-ratio: auto 768 / 384; */
}

#startscreen {
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 768px;
    height: 384px;
    background-image: url("assets/img/startscreen_bgr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    gap: 16px;
}

#headline_startscreen {
    width: 280px;
    margin-bottom: 72px;
}

.startscreen_buttons_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.startscreen_button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.startscreen_button_arrow {
    visibility: hidden;
}

.startscreen_button:hover .startscreen_button_arrow {
    visibility: visible;
}

.startscreen_button:hover {
    transform: scale(1.1);
    cursor: crosshair;
    text-shadow: #FC0 1px 0 10px;
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 64px 0 64px 0;
}

h1 {
    font-size: 100px;
    font-family: 'Arial', sans-serif;
    color: #e7d63f;
    margin: 0;
    text-shadow: -9px -7px 2px #3b3b3b;
}


#frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 854px;
    height: 524px;
    /* border: 4PX SOLID yellow; */
}

.frame_img {
    z-index: 10;
    position: absolute;
    width: 854px;
    height: 524px;
}

#fullscreen_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 32px;
    font-family: inherit;
    font-size: 28px;
    color: #0f0f0f;
    font-weight: 600;
    padding: 18px;
    background-color: rgba(255, 255, 255, 0.452);
    border: 1px outset gray;
}

#fullscreen_button:hover {
    cursor: pointer;
    border: 1px inset gray;
}

#gamepad_overlay {
    position: absolute;
    top: 0;
    z-index: 20;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gamepad_overlay_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 20%;
    padding: 100px 8px 30px 30px;
}

.gamepad_overlay_middle {
    height: 100%;
    width: 60%;
}

.gamepad_overlay_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    height: 100%;
    width: 15%;
    padding: 100px 20px 30px 8px;
}

.gamepad_cross_container {
    display: flex;
}

.gamepad_button_a_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#shoot {
    width: 50px;
    height: 50px;
}

.gamepad_button_b_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#jump {
    width: 50px;
    height: 50px;
}

.gamepad_img {
    display: none;
    object-fit: contain;
    width: 50px;
    height: 50px;
    opacity: 0.7;
}

/* FULLSCREEN */

#fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.fullscreen {
    width: 100%;
    height: auto;
    border: none;
}

.fullscreen_startscreen {
    width: 100% !important;
    height: 100% !important;
    background-size: contain !important;
    border: none;
}


/* Smartphones ------------------------------ */
@media only screen and (max-width: 768px) {
    body {
        background-color: rgb(20, 20, 20);
        background-image: none;
    }

    canvas {
        /* width: 70%; */
        margin-bottom: 0;
        padding-left: 0;
        border: none;
    }

    #frame {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .frame_img {
        display: none;
    }

    #gamepad_overlay {
        display: flex;
    }

    .gamepad_img {
        display: flex;
    }

    #fullscreen {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .settings_container {
        display: none;
    }

    .header {
        display: none;
    }

    .container {
        width: 100vw;
    }
}

/* Smartphones ------------------------------ */
@media only screen and (max-height: 448px) {
    body {
        background-color: rgb(20, 20, 20);
        background-image: none;
    }

    canvas {
        /* height: 95%; */
        margin-bottom: 0;
        /* padding-left: 4%; */
        border-top: 8px solid rgb(20, 20, 20);
        border-bottom: 8px solid rgb(20, 20, 20);
    }

    #frame {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .frame_img {
        display: none;
    }

    #gamepad_overlay {
        display: flex;
    }

    .gamepad_img {
        display: flex;
    }

    #fullscreen {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header {
        display: none;
    }

    .container {
        width: 100vw;
    }
}