* {
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(3,27,112);
    background-image: url('assets/img/skyline.png');
    /* background-image: url('assets/img/retro-2426631_1280.png'); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: inherit;
    color: rgb(230, 230, 230);
}

canvas {
    display: block;
    width: 768px;
    height: 384px;
    /* image-rendering: pixelated; */
    /* aspect-ratio: auto 768 / 448; */
    /* display: none; */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 32px;
}

h1 {
    font-size: 72px;
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0;
    text-shadow: -9px -7px 2px #505050;
}

h2 {
    font-size: 62px;
    margin: 36px 0 0 0;
    color: #e7d63f;
    text-shadow: -4px -3px 2px #505050;
}

#fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

.fullscreen {
    width: 100%;
    height: auto;
    border: none;
}

#fullscreen_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 32px;
    margin-top: 64px;
    font-family: inherit;
    font-size: 28px;
    color: #0f0f0f;
    font-weight: 600;
    padding: 18px;
    background-color: rgba(255, 255, 255, 0.452);
    border: 1px outset gray;
}

#fullscreen_button:hover {
    cursor: pointer;
    border: 1px inset gray;
}

#frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 780px;
    height: 458px;
    /* border: 4PX SOLID yellow; */
}

#frame img{
    z-index: 10;
    position: absolute;
    bottom: -30px;
    left: -15px;
    width: 854px;
    height: 490px;
}

/* Smartphones ------------------------------ */
@media only screen and (max-width: 768px) {
    canvas {
        width: 100%;
        margin-bottom: 0;
        border: none;
    }

    #frame {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    #frame img{
        display: none;
    }

    #fullscreen {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #fullscreen_button {
        display: none;
    }

    .header {
        display: none;
    }
}

/* Smartphones ------------------------------ */
@media only screen and (max-height: 448px) {
    canvas {
        height: 100vh;
        margin-bottom: 0;
        border: none;
    }

    #frame {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    #frame img{
        display: none;
    }

    #fullscreen {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header {
        display: none;
    }
}