* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('assets/img/main_bgr.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'VT323', monospace;
    color: rgb(230, 230, 230);
    height: 100vh;
}

.container {
    width: 854px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 64px; */
}

.headline {
    width: 480px;
    text-align: center;
    margin-top: 64px;
}

.headline_submenu {
    width: 640px;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.cursor {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

canvas {
    /* width: 768px; */
    width: 720px;
    height: 384px;
    image-rendering: pixelated;
    border: 4px solid #E7D63F;
}

.menu_container {
    width: 768px;
    height: 384px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    gap: 16px;
}

.settings_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.character_select_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.character_select_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.character_select_img {
    width: auto;
    height: 240px;
    object-fit: contain;
}

.character_select_img:hover {
    filter: drop-shadow(0 0 0.75rem #FC0);
    transform: scale(1.1);
    cursor: crosshair;
}

#startscreen {
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: absolute;
    z-index: 99;
    top: 16px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    gap: 16px;
    padding-right: 16px;
}

#headline_startscreen {
    width: 280px;
    margin-bottom: 72px;
}

.startscreen_buttons_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.startscreen_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
}

.back_button::before {
    content: "<Back to Menu>";
}

.back_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.back_button:hover {
    transform: scale(1.05);
    cursor: crosshair;
    text-shadow: #FC0 1px 0 10px;
    font-weight: 700;
}

.startscreen_button_arrow {
    visibility: hidden;
}

.startscreen_button:hover .startscreen_button_arrow {
    visibility: visible;
}

.startscreen_button:hover {
    transform: scale(1.05);
    cursor: crosshair;
    text-shadow: #FC0 1px 0 10px;
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 24px 0 24px 0;
}

h1 {
    font-size: 100px;
    font-family: 'Arial', sans-serif;
    color: #e7d63f;
    margin: 0;
    text-shadow: -9px -7px 2px #3b3b3b;
}


.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}


#frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 854px;
    height: 524px;
    /* border: 4PX SOLID yellow; */
}

.frame_img {
    /* z-index: 10; */
    position: absolute;
    width: 854px;
    height: 524px;
}

.nav_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 32px;
    object-fit: contain;
}

.nav_button:hover {
    transform: scale(1.05);
    cursor: crosshair;
    filter: drop-shadow(1px 0 10px #FC0);
}

#gamepad_overlay {
    position: absolute;
    top: 0;
    z-index: 20;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gamepad_overlay_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 20%;
    padding: 100px 8px 30px 30px;
}

.gamepad_overlay_middle {
    height: 100%;
    width: 60%;
}

.gamepad_overlay_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    height: 100%;
    width: 15%;
    padding: 100px 20px 30px 8px;
}

.gamepad_cross_container {
    display: flex;
}

.gamepad_button_a_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#shoot {
    width: 50px;
    height: 50px;
}

.gamepad_button_b_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#jump {
    width: 50px;
    height: 50px;
}

.gamepad_img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    opacity: 0.7;
}

.showMobileController {
    display: flex !important;
}

/* FULLSCREEN */

#fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.fullscreen {
    width: 100%;
    height: auto;
    border: none;
}

.fullscreen_startscreen {
    width: 100% !important;
    height: 100% !important;
    background-size: contain !important;
    border: none;
}


/* Smartphones ------------------------------ */
@media only screen and (max-width: 768px) {
    /* body {
        background-color: rgb(20, 20, 20);
        background-image: none;
    } */


    .headline {
        width: 320px;
        text-align: center;
    }

    canvas {
        /* width: 70%; */
        margin-bottom: 0;
        padding-left: 0;
        border: none;
        width: auto;
        object-fit: contain;
    }

    #frame {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .frame_img {
        display: none;
    }

    .gamepad_img {
        display: flex;
    }

    #fullscreen {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #startscreen {
        justify-content: flex-start;
        margin-top: 16px;
    }

    .settings_container {
        display: none;
    }

    .container {
        width: 100vw;
        margin-top: 16px;
    }
}

/* Smartphones ------------------------------ */
@media only screen and (max-height: 620px) {
    /* body {
        background-color: rgb(20, 20, 20);
        background-image: none;
    } */

    canvas {
        height: 100%;
        width: auto;
        margin-bottom: 0;
        /* padding-left: 4%; */
        border-top: 8px solid rgb(20, 20, 20);
        border-bottom: 8px solid rgb(20, 20, 20);
    }

    #frame {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .frame_img {
        display: none;
    }

    .gamepad_img {
        display: flex;
    }

    #fullscreen {
        position: relative;
        height: 100%;
        width: auto;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 100vw;
    }
}