/* MOBILE-CONTROLLER */

#mobile_controller_overlay {
    position: absolute;
    top: 0;
    z-index: 80;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mobile_controller_overlay_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    /* width: 20%; */
    padding: 100px 8px 20px 15px;
}

.mobile_controller_overlay_middle {
    height: 100%;
    width: 60%;
}

.mobile_controller_overlay_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    height: 100%;
    width: 18%;
    padding: 100px 20px 30px 8px;
}

.mobile_controller_cross_container {
    display: flex;
}

.mobile_controller_button_a_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.mobile_controller_button_b_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mobile_controller_img {
    object-fit: contain;
    width: 60px;
    height: 60px;
    opacity: 0.7;
}

.show_mobile_controller {
    display: flex !important;
}