/* Smartphones Width------------------------------ */
@media only screen and (max-width: 768px) {
    /* body {
        background-color: rgb(20, 20, 20);
        background-image: none;
    } */

    #frame {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .frame_img {
        display: none;
    }

    .gamepad_img {
        display: flex;
    }

    #startscreen {
        margin-top: 0;
    }

    .settings_container {
        display: none;
    }

    .container {
        width: 100vw;
        margin-top: 0;
    }

    .submenu_container {
        width: 100%;
    }

    .fullscreen {
        position: static !important;
    }
}

@media only screen and (max-height: 600px) {
    #header {
        margin: 24px 0 0 0;
    }

    #headline_logo {
        margin-top: 0;
    }
}


@media only screen and (max-height: 360px) {
    #header {
        margin: 24px 0 0 0;
    }

    #headline_logo {
        width: 320px;
        text-align: center;
        margin-top: 0;
    }

    .startscreen_button {
        font-size: 42px;
    }

    .submenu_container {
        height: 100%;
        font-size: 24px;
    }

    .headline_submenu {
        text-align: center;
        margin-top: 0px;
        font-size: 32px;
    }

    .back_button {
        font-size: 24px;
    }

    .character_select_img {
        width: auto;
        height: 124px;
        object-fit: contain;
        margin-top: -20px;
    }

    canvas {
        height: 100%;
        width: auto;
        margin-bottom: 0;
        margin-bottom: 0;
        padding-left: 0;
        object-fit: contain;
        border: none;
    }
}

/* Smartphones Width------------------------------ */
@media only screen and (max-width: 720px) {
    #rotate_device {
        display: flex !important;
    }
}