/* Smartphones Width------------------------------ */
@media only screen and (max-width: 720px) {
    /* body {
        background-color: rgb(20, 20, 20);
        background-image: none;
    } */

    #frame {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .frame_img {
        display: none;
    }

    /* .mobile_controller_img {
        display: flex;
    } */

    #startscreen {
        margin-top: 0;
    }

    .settings_container {
        display: none;
    }

    .container {
        width: 100vw;
        margin-top: 0;
    }

    .submenu_container {
        width: 100%;
        justify-content: space-evenly;
    }

    .fullscreen {
        position: static;
    }
}


@media only screen and (max-width: 720px) {
    .fullscreen {
        position: inherit;
    }
}


/* @media only screen and (max-height: 384px) {
    .fullscreen {
        position: inherit;
    }
} */

@media only screen and (max-height: 920px) {
    #newgame_button {
        margin-bottom: 7%;
    }
}

@media only screen and (max-height: 420px) {
    #header {
        margin: 24px 0 0 0;
    }

    #headline_logo {
        width: 360px;
        text-align: center;
        margin-top: 0;
    }

    .startscreen_button {
        font-size: 48px;
    }

    .submenu_container {
        height: 100%;
        font-size: 24px;
    }

    .headline_submenu {
        text-align: center;
        margin-top: 0px;
        font-size: 32px;
    }

    .back_button {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .character_select_img {
        width: auto;
        height: 124px;
        object-fit: contain;
        margin-top: -20px;
    }

    canvas {
        height: 100%;
        width: auto;
        margin-bottom: 0;
        margin-bottom: 0;
        padding-left: 0;
        object-fit: contain;
        border: none;
    }
}

@media only screen and (max-height: 320px) {
    #header {
        margin: 8px 0 0 0;
    }

    .back_button {
        margin-bottom: 8px;
    }
}

/* Smartphones Width------------------------------ */
@media only screen and (max-width: 420px) {
    #rotate_device {
        display: flex !important;
    }
}