<div class="headline_submenu">CREDITS<div class="cursor">_</div></div>
<div class="menu_content_container">
        <div class="credits">Game designed and programmed by Preston Jones</div>
        <div class="credits">Artwork created by Luis Zuno (@ansimuz)</div>
        <div class="credits">---</div>
        <a class="hyperlink" href="https://github.com/preston-jones/2D_Sidescroller_Game" target="_blank"><div class="credits"><img src="assets/img/icons/github.png" class="icon" id="github_icon"> see code on GitHub</div></a>
</div>
<div class="back_button" onclick="backToStartScreen('credits')"></div>