<div class="gamepad_overlay_left">
    <div>
        <img class="gamepad_img" src="assets/img/gamepad_overlay/dpad_up.png" alt="">
    </div>
    <div class="gamepad_cross_container">
        <div>
            <img class="gamepad_img" id="arrow_left" src="assets/img/gamepad_overlay/dpad_left.png" alt="">
        </div>
        <div>
            <img class="gamepad_img" src="assets/img/gamepad_overlay/dpad_center.png" alt="">
        </div>
        <div>
            <img class="gamepad_img" id="arrow_right" src="assets/img/gamepad_overlay/dpad_right.png" alt="">
        </div>
    </div>
    <div>
        <img class="gamepad_img" id="arrow_down" src="assets/img/gamepad_overlay/dpad_down.png" alt="">
    </div>
</div>
<div class="gamepad_overlay_middle">
</div>
<div class="gamepad_overlay_right">
    <div class="gamepad_button_a_container">
        <img class="gamepad_img" id="shoot" src="assets/img/gamepad_overlay/button_a.png" alt="">
    </div>
    <div class="gamepad_button_b_container">
        <img class="gamepad_img" id="jump" src="assets/img/gamepad_overlay/button_b.png" alt="">
    </div>
</div>