<div class="headline_submenu">HOW TO PLAY<div class="cursor">_</div>
</div>
<div class="menu_content_container">
    <div class="control_keys_container">
        <img src="assets/img/icons/controller_mobile.png" class="control_menu_icons">
        <div>Switch To Mobile Controller Mode If Playing On A Mobile Device.</div>
    </div>
    <div class="control_keys_container">
        <div>← →</div>
        <div>= Move Left, Right</div>
    </div>
    <div class="control_keys_container">
        <div>↓</div>
        <div>= Crouch</div>
    </div>
    <div class="control_keys_container">
        <img class="control_menu_icons" src="assets/img/mobile_controller_overlay/button_b.png" alt="">
        <div>or Space</div>
        <div>= Jump</div>
    </div>
    <div class="control_keys_container">
        <img class="control_menu_icons" src="assets/img/mobile_controller_overlay/button_a.png" alt="">
        <div>or C</div>
        <div>= Shoot</div>
    </div>
</div>
<div class="back_button" onclick="backToStartScreen('how-to-play')"></div>