<div class="mobile_controller_overlay_left">
    <div>
        <img class="mobile_controller_img" id="arrow_up" src="assets/img/mobile_controller_overlay/dpad_up.png" alt="">
    </div>
    <div class="mobile_controller_cross_container">
        <div>
            <img class="mobile_controller_img" id="arrow_left" src="assets/img/mobile_controller_overlay/dpad_left.png" alt="">
        </div>
        <div>
            <img class="mobile_controller_img" src="assets/img/mobile_controller_overlay/dpad_center.png" alt="">
        </div>
        <div>
            <img class="mobile_controller_img" id="arrow_right" src="assets/img/mobile_controller_overlay/dpad_right.png" alt="">
        </div>
    </div>
    <div>
        <img class="mobile_controller_img" id="arrow_down" src="assets/img/mobile_controller_overlay/dpad_down.png" alt="">
    </div>
</div>
<div class="mobile_controller_overlay_middle">
</div>
<div class="mobile_controller_overlay_right">
    <div class="mobile_controller_button_a_container">
        <img class="mobile_controller_img" id="shoot" src="assets/img/mobile_controller_overlay/button_a.png" alt="">
    </div>
    <div class="mobile_controller_button_b_container">
        <img class="mobile_controller_img" id="jump" src="assets/img/mobile_controller_overlay/button_b.png" alt="">
    </div>
</div>