<img id="navbar_logo" src="assets/img/cybercity.png" alt="">
<div class="navbar_buttons_container">
    <img src="assets/img/icons/controller_mobile.png" class="nav_button" id="controller_button">
    <img src="assets/img/icons/hd_render_off.png" class="nav_button" id="rendering_button">
    <img src="assets/img/icons/audio_on.png" class="nav_button" id="audio_button">
    <img src="assets/img/icons/expand.png" class="nav_button" id="fullscreen_button">
    <img src="assets/img/icons/exit.png" onclick="exitGame()" class="nav_button" id="back_to_startscreen">
</div>