<div class="headline_submenu">SETTINGS<div class="cursor">_</div></div>
<div class="menu_container">
    <div class="settings_button_container" id="menu_fullscreen_button_container">
        <img src="assets/img/icons/expand.png" class="settings_icon" id="menu_fullscreen_icon">
        <div class="settings_title">Fullscreen:</div>
        <div id="settings_button_menu_fullscreen">OFF</div>
    </div>
    <div class="settings_button_container" id="menu_audio_icon_container">
        <img src="assets/img/icons/audio_off.png" class="settings_icon" id="menu_audio_icon">
        <div class="settings_title">Music & Sound:</div>
        <div id="settings_button_menu_audio">OFF</div>
    </div>
</div>
<div class="back_button" onclick="backToStartScreen('settings')"></div>