<!-- <img class="headline" id="headline_startscreen" src="assets/img/cybercity.png" alt=""> -->
<div class="startscreen_buttons_container">
    <div class="startscreen_button" onclick="loadCharacterSelect()">
        <div class="startscreen_button_arrow">
            >>
        </div>
        START GAME
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
    <div class="startscreen_button">
        <div class="startscreen_button_arrow">
            >>
        </div>
        CONTROLL
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
    <div class="startscreen_button" onclick="loadSettings()">
        <div class="startscreen_button_arrow">
            >>
        </div>
        SETTINGS
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
    <div class="startscreen_button" onclick="loadCredits()">
        <div class="startscreen_button_arrow">
            >>
        </div>
        CREDITS
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
</div>