<div class="startscreen_buttons_container">
    <div class="startscreen_button" onclick="showStoryPage()">
        <div class="startscreen_button_arrow">
            >>
        </div>
        START GAME
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
    <div class="startscreen_button" onclick="showHowtoplayPage()">
        <div class="startscreen_button_arrow">
            >>
        </div>
        HOW TO PLAY
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
    <div class="startscreen_button" onclick="showSettingsPage()">
        <div class="startscreen_button_arrow">
            >>
        </div>
        SETTINGS
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
    <div class="startscreen_button" onclick="showCreditsPage()">
        <div class="startscreen_button_arrow">
            >>
        </div>
        CREDITS
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
</div>