<img class="headline" id="headline_startscreen" src="assets/img/cybercity.png" alt="">
<div class="startscreen_buttons_container">
    <div class="startscreen_button" onclick="loadGame()">
        <div class="startscreen_button_arrow">
            >>
        </div>
        START GAME
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
    <div class="startscreen_button">
        <div class="startscreen_button_arrow">
            >>
        </div>
        CONTROLL
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
    <div class="startscreen_button">
        <div class="startscreen_button_arrow">
            >>
        </div>
        CREDITS
        <div class="startscreen_button_arrow">
            <<
        </div>
    </div>
</div>